<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .box{
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    
    <div id="app" class="container" v-cloak>
        <ul>
            <li v-for="(book, index) in books" :class="book">{{book}} - {{index + 1}}</li>
        </ul>
        <ul>
        <li v-for="writers in writer">
            <div v-for="(value, key, index) in writers">{{key}}: {{value}} - Index:{{index}}</div>
        </li>
        </ul>

        <p v-if="mode == 1">Showing v-if directive content</p>
        <template v-else-if="mode==2">
            <p>Bonus content</p>
            <h3>v-else-if</h3>
        </template>
        <p v-else>v-else</p>  

        <h2 v-show="mode == 1">v-show</h2>


        <select v-model="mode">
            <option value="1">v-if</option>
            <option value="2">v-else-if</option>
            <option value="3">v-else</option>
        </select> 

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" v-model="isPurple" >
            <label class="form-check-label fw-bolder" for="flexSwitchCheckChecked"> <a style="color:rgb(92, 43, 226)"><b>Purple</b></a> </label>
          </div>

        <select v-model="selectedColor">
            <option value="">White</option>
            <option value="text-black">Black</option>
            <option value="text-orange">Orange</option>
        </select>

        <input type="number" v-model="size">
      
        <div v-if="isPurple" class="circle" :class="[selectedColor, circle_classes]" :style="[{ width: size +'px', height: size + 'px', lineHeight: size + 'px'  }, {transform: 'rotate(30deg)'}]">
        Hi!
        </div>
        <br/>
        <br/>
        <br/>

        <h1>Hello, <a style="color:orangered"> <b>{{ fullName }} </b></a></h1>
        <hr/>
        <h2><a :href="url">Visit site</a></h2>
        <p v-html="raw_url"></p>
        <h1 class="text-success">{{ age }}</h1>
        <button class="btn btn-success" @click="increment">Increase</button>
        <button class="btn btn-danger" v-on:click.ctrl="age--">Decrease</button> <br/>

        <label> Age </label>
        <input type="number" v-model="age"/>

        <label> First Name </label>
        <input type="text" v-model.lazy.trim="fname"/>

        <label> Last Name </label>
        <input type="text" :value="lname" @input="inputLastName('Last name update', $event)"/>


        <!-- <div v-show="showBooks">Currently showing books</div>
        <div v-if="showBooks">
            <ul>
                <li v-for="book in books">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }}</p>
                </li>
            </ul>
            <h5><a v-bind:href="url">Google</a></h5>
            <p>The book name is <b>{{title}}</b> of volume {{age}}</p>
            <button v-on:click="age++">Age++</button>
            <div @click="title= 'Fallen paradise'">Change title</div>
            <div @click="changeTitle('New Title')">New</div>
        </div>

        <button v-bind:disabled="status" @click="toogleShowBooks">
            <span v-if="showBooks">Hide books</span>
            <span v-if="!showBooks">Hide books</span>
        </button>

        <br>
        <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">Mouse Leave</div>
        <div class="box" @dblclick="handleEvent">Double click</div>
        <div class="box" @mousemove="handleMousemove">Position {{x}} {{y}}</div> -->

        
    </div>
</body>
<script src="app.js"></script>
</html>